doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel ="stylesheet" href="header.css")
        link(rel="stylesheet" href="display.css")
        script(src="socket.io/socket.io.js")
        script(src="https://cdn.jsdelivr.net/npm/chart.js")
        //link(rel="shortcut icon" type="image/png" href="/robot-favicon.png")
        title Robo-AO 2 Status Page
        script(type = "text/javascript").
            const data = !{JSON.stringify(data)} // getting data from res.render
    body 
        include includes/header.pug
        div.component.vicd VICD
    
        .container
            .telemetry-graph-container
                h1 Telemetry
                hr
                .telemetry 
                    
                .graph
                    h1 Graph
                    hr

            .image
                h1 Image
                hr

            
                
        script
            include client.js


