header
    div
        h1.title_text Robo-AO 2
    div.topnav
        a(href="/") Home
        a(href="/queueInformation" ) Queue Information 
        a(href="") Laser System 
        a(href="") LCH File Status 
        a(href="") AO System 
        a(href="") AO Loop 
        a(href="") Tip-Tilt 
        a(href="") ADC 
        a(href="") VIC 
        a(href="") TCS 
        a(href="") Weather Station Data 
        a(href="") Environmental Data 
        a(href="") Control Machine Status 
