header
    div
        h1.title_text Robo-AO 2
    div.topnav
        a(href="/home") Home
        a(href="/queueInformation") Queue Information 
        a(href="") Laser System 
        a(href="") LCH File Status 
        a(href="") AO System 
        a(href="") AO Loop 
        a(href="") Tip-Tilt 
        a(href="") ADC 
        a(href="") VIC 
        a(href="") TCS 
        a(href="") Weather Station Data 
        a(href="") Environmental Data 
        a(href="") Control Machine Status 
//- doctype html
//- html(lang="en")
//-     head
//-         meta(charset="UTF-8")
//-         meta(http-equiv="X-UA-Compatible", content="IE=edge")
//-         meta(name="viewport", content="width=device-width, initial-scale=1.0")
//-         link(rel ="stylesheet" href="../css/header.css")
//-         title Robo-AO 2 Status Page
//-     body 
//-         header
//-             div 
//-                 h1.title_text Robo-AO 2
//-             div.topnav 
//-                 a(href="") Home
//-                 a(href="") Queue Information 
//-                 a(href="") Laser System 
//-                 a(href="") LCH File Status 
//-                 a(href="") AO System 
//-                 a(href="") AO Loop 
//-                 a(href="") Tip-Tilt 
//-                 a(href="") ADC 
//-                 a(href="") VIC 
//-                 a(href="") TCS 
//-                 a(href="") Weather Station Data 
//-                 a(href="") Environmental Data 
//-                 a(href="") Control Machine Status 