//- Header pug file. Deals with the navigation bar and links to other pages

header
    div
        h1.title_text Robo-AO 2
    div.topnav
        a(href="/") Home
        a(href="/queueInformation" ) Queue Information 
        a(href="/laserSystem") Laser System 
        a(href="/LCHFileStatus") LCH File Status 
        a(href="/aoSystem") AO System 
        a(href="/aoLoop") AO Loop 
        a(href="tipTilt") Tip-Tilt 
        a(href="/adc") ADC 
        a(href="/vic") VIC 
        a(href="/tcs") TCS 
        a(href="/weatherStationData") Weather Station Data 
        a(href="/environmentalData") Environmental Data 
        a(href="/controlMachineStatus") Control Machine Status 
