@media screen and (max-width: 320px) {
    /* comes into effect for screens less than or equal to 320 pixels */
    #somethingorother {
      width: 120px ;
    }
  }
  @media screen and (min-width: 321px) and (max-width: 480px) {
    /* comes into effect for screens between 321 and 480 pixels (inclusive) */
    #somethingorother {
      width: 320px ;
    }
  }
  @media screen and (min-width: 481px) {
    /* comes into effect for screens larger than or equal to 481 pixels */
    #somethingorother {
      width: 480px ;
    }
  }
body{
  margin:0;
}

.component {
  height: 50px;
  font-family: Monaco;
  text-align: center;
  vertical-align:auto;
  font-size: 230%;
  background-color: white;
  width:100%;
  border-top: 2px solid #333;
  border-bottom: 2px;
  border-bottom-color: black;
  border-bottom-style: solid;
}
.good {
  background-color: green;
}

.warning {
  background-color: yellow;
}
.danger {
  background-color: red;
}
.container {
    background-color: white;
    width: 100%;
    height: fit-content;
    display:flex;
    flex-wrap:wrap;
    justify-content: flex-start;
    border-bottom:2px solid black;
}
.telemetry-graph-container {
  width:70%;
  height: fit-content;

  max-height: 100%;
  /* background-color: burlywood; */
}

.telemetry {
    /* background-color: white; */
    height:fit-content;
    width: 100%;
    flex-direction: row;
    border-bottom:2px black solid;
    display: flex;
    flex-wrap:wrap;
    max-height:fit-content;
    gap:5px;
}

.image {
    /* background-color: lightpink; */
    min-height:50%;
    width: 29.5%;
    max-height:100%;
    max-width:30%;
    display:flex;
    flex-direction: column;  
    align-items: center;
    border-left:2px solid rgba(50, 50, 50, 1);
    margin-right: 0;
}

img.content{
    max-width: 90%;
    max-height: 90%;
    margin-left: auto;
    margin-right: auto;
    display:block;
    width:fit-content;
    height:fit-content;
    margin-top:10px;
    border: 1px solid grey;
  
}
.graph {
    
    text-align:center;
}
#chart{
  border-top: 1px solid grey;
  border-right: 1px solid grey;
  border-left: 1px solid grey;
  height: 40%;
  width: 800px;
  max-width: 70%;
  background-color: white;
  margin-left: auto;
  margin-right: auto;
}
    
.vl {
  border-left: 6px solid black;
  height: 400px;
  position:static;
  right:30%;

  top:0px;
}

h1 {
  text-align: center;
  font-size: 100%;
  font-family:Monaco
}
hr {
  width:90%
}
tr,td,table, th, thead {
    border: 1px solid darkgrey;
    min-width: 50px;
    height: fit-content;
}
table,thead {
    background-color: gainsboro;
    margin:5px;
    border: 1px solid darkgray;
    
    max-height: fit-content;
}

table {
  border: 1px solid black;
  border-radius: 5px;
}


th {
  background-color: white;
  border-radius: 5px;
}
