doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        link(rel ="stylesheet" href="header.css")
        link(rel="stylesheet" href="queueInformation.css")
        title Robo-AO 2 Status Page
    body 
        include includes/header.pug
        h1 Home Page
            //- tbody 
            //- tr 
            //-     td Timestamp 
            //-     td Blank
            //- tr
            //-     td Project 
            //-     td Blank 

        //- .container
        //-     .column 
        //-         .column-name general
        //-         .column-contents
        //-             p hello 
        //-             p okay
        //-     .column
        //-         p deez nutz

