//- Header pug file. Deals with the navigation bar and links to other pages

header
    div
        h1.title_text Robo-AO 2
    div.topnav
        a#test(href="/test") Test
        a#home(href="/") Home
        a#vicd(href="/vicd" ) VICD 